<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cells-molecule-input/cells-molecule-input.html">
<link rel="import" href="··/cells-st-button/cells-st-button.html">
<link rel="import" href="ejercicio-1-styles.html">
<dom-module id="ejercicio-1">
  <script src="ejercicio-1.js"></script>
</dom-module>

<dom-module id="ejercicio-2">
  <script src="ejercicio-2.js"></script>
</dom-module>